h1 {
  text-align: center;
  font-size: 250%;
}
.break, 
.start-task, 
.start-break, 
.stop, 
.reset, 
.set-break, 
.add-break, 
.subtract-break, 
.information {
  display: none;
}

.add-task,
.subtract-task,
.add-break,
.subtract-break {
  margin-top: 5px;
}

a,
a:focus,
a:hover {
  color: #fff;
}

button:focus {
  outline: 0 !important;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #62070A;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
}

.task,
.break,
.clock {
  font-size: 144px;
  font-weight: 600;
}

html,
body {
  height: 100%;
  
  background-size: cover;
  background-color: black;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; 
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
footer {
  min-height: 10vh;
  padding-top: 30px;
  padding-bottom: 1px;
  background-color:#FA1118;
  color:#e4f1fe ;
}
